<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<header th:replace="fragments/header :: header"></header>
	
	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<p><a th:href="@{/form}" class="btn btn-success btn-xs">Registrar Sensei</a></p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>nombres</th>
					<th>apellidos</th>
					<th>direccion</th>
					<th>Celular</th>
					<th>email</th>
					<th>edad</th>
					<th>peso</th>
					<th>altura</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sen: ${sensei}">
					<td th:text="${sen.idSensei}"></td>
					<td th:text="${sen.nombres}"></td>
					<td th:text="${sen.apellidos}"></td>
					<td th:text="${sen.direccion}"></td>
					<td th:text="${sen.numeroCelular}"></td>
					<td th:text="${sen.email}"></td>
					<td th:text="${sen.edad}"></td>
					<td th:text="${sen.peso}"></td>
					<td th:text="${sen.altura}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${sen.idSensei}" th:text="'editar'"></a></td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${sen.idSensei}" 
					th:text="'eliminar'" onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
				</tr>
			</tbody>

		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>