<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Dojo Bushin Karate Do</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/listarHor}">Horario</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarCla}">Clase</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarGra}">Grados</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarGraCla}">Grado-Clase</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listar}">Sensei</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarAl}">Alumno</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarAl}">Evento</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/listarAl}">Galeria de Fotos</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/preguntas}">Preguntas</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/contactos}">Contacto</a></li>
        </ul>
    </div>
</nav>
</header>

<body>

</body>

<footer>

</footer>