<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"></head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
  <h1> Preguntas Frecuentes </h1>
  <div id="menu">
    <a href="#pregunta1">Pregunta 1</a></p>
    <a href="#pregunta2">Pregunta 2</a></p>
    <a href="#pregunta3">Pregunta 3</a></p>
    <a href="#pregunta4">Pregunta 4</a></p>
    <a href="#pregunta5">Pregunta 5</a></p>
    <a href="#pregunta6">Pregunta 6</a></p>
    <a href="#pregunta7">Pregunta 7</a></p>
    <a href="#pregunta8">Pregunta 8</a></p>
    <a href="#pregunta9">Pregunta 9</a></p>
    <a href="#pregunta10">Pregunta 10</a></p>
  </div>

  <div id="pregunta1" class="pregunta" >
    <h2>Pregunta 1</h2>
    <p>Mi hijo no tiene experiencia en artes marciales, ¿Puedo matricularlo?</p>
    <p>Absolutamente sí. Las artes marciales son para todos y se parte desde cero.</p>
  </div>

  <div id="pregunta2" class="pregunta">
    <h2>Pregunta 2</h2>
    <p>Tengo mal estado físico, ¿Puedo matricularme?</p>
    <p>Por supuesto. En la enseñanza de Karate buscamos promover la salud, por lo cual te exigiremos de manera acorde a tus
        capacidades, esperando de ti la disciplina y esfuerzo para mejorar tu propia condición. Si vez que tienes complicaciones,
        puedes consultar a un médico previamente para que chequee tu estado de salud.</p>
  </div>

  <div id="pregunta3" class="pregunta">
    <h2>Pregunta 3</h2>
    <p>¿Cuándo se inicia el próximo curso?</p>
    <p>En Karate Yushindo la enseñanza es personalizada, no es como un curso, aquí el ingreso es permanente durante todo el
        año, pues cada clase se inicia con ejercicios comunes y luego se separan en grupos de similar avance.</p>
  </div>

  <div id="pregunta4" class="pregunta">
    <h2>Pregunta 4</h2>
    <p>¿Cómo debo ir vestido?</p>
    <p>En Yushindo utilizamos un uniforme según el sistema de grados, el cual puedes adquirir después. Durante las primeras
        clases puedes asistir con un buzo de preferencia blanco y polo (mejor si es blanco). En Yushindo lo puedes practicar
        descalzo o en calcetines.</p>
  </div>

  <div id="pregunta5" class="pregunta">
    <h2>Pregunta 5</h2>
    <p>¿Cuándo se inicia el próximo curso?</p>
    <p>En Karate Yushindo la enseñanza es personalizada, no es como un curso, aquí el ingreso es permanente durante todo el
        año, pues cada clase se inicia con ejercicios comunes y luego se separan en grupos de similar avance.</p>
  </div>

  <div id="pregunta6" class="pregunta">
    <h2>Pregunta 6</h2>
    <p>¿Cuál es la edad máxima para inscribirse?</p>
    <p>No hay edad. En países orientales es común ver a personas de más de 60 años practicando este deporte. Si quiere
        integrarse teniendo un estado de salud delicado, debe entrevistarse previamente con el Sensei Daniel Valle, para analizar
        la conveniencia u opciones de práctica.</p>
  </div>

  <div id="pregunta7" class="pregunta">
    <h2>Pregunta 7</h2>
    <p>¿Desde qué edad pueden practicar los niños?</p>
    <p>Recomendamos que sea a partir de los 3 años. Para menores de esa edad, excepcionalmente se podría aprobar su
        ingreso mediante entrevista y evaluación con el Sensei Daniel Valle. Cuanto más pequeño inicia sus prácticas en Karate,
        será de mejor provecho. Siempre recomendamos la práctica del Karate como disciplina inicial.</p>
  </div>

  <div id="pregunta8" class="pregunta">
    <h2>Pregunta 8</h2>
    <p>¿Hay horarios o cursos especiales para niños?</p>
    <p>Si. Nuestras clases son según las edades.</p>
  </div>

  <div id="pregunta9" class="pregunta">
    <h2>Pregunta 9</h2>
    <p>¿Cuáles son las formas de pago?</p>
    <p>Sólo aceptamos efectivo, cheque o transferencia bancaria.</p>
  </div>

  <div id="pregunta10" class="pregunta">
    <h2>Pregunta 10</h2>
    <p>Aún no me decido, ¿Puedo ir a ver una clase?</p>
    <p>Sí, llega unos 20 minutos antes para que converses con el instructor y te dé acceso a ver la clase.</p>
  </div>
    <p>¿Tienes más dudas? Si has leído estos párrafos y aún persisten tus inquietudes, puedes ponerte en contacto con
        nosotros a través del chat en línea o directamente llamando al WhatsApp. 999 655 717.</p>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
