<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<header th:replace="fragments/header :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"
class="text-secondary border border-success border-top-0 border-left-0 border-right-0"></h1>

		<div th:object="${alumno}" th:remove="tag">
			<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
			</ul>
		</div>
		<form th:action="@{/editAl}" th:object="${alumno}" method="post">
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nombre</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nombre}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
			th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Apellido</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{apellido}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Edad</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{edad}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Nivel</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{nivel}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nivel')}" th:errors="*{nivel}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Direccion</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{direccion}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">celular</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{celular}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('celular')}" th:errors="*{celular}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Peso</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{peso}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('peso')}" th:errors="*{peso}"></small>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Altura</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{altura}" class="form-control"
						th:errorclass="'form-control alert-danger'" /> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('altura')}" th:errors="*{altura}"></small>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Sensei</label>
				<div class="col-sm-6">
					<input type="text" th:field="*{sensei}" class="form-control"
						th:errorclass="'form-control alert-danger'"/> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('sensei')}" th:errors="*{sensei}"></small>
				</div>
			</div>

				<!-- <div class="form-group row">
					<label class="col-sm-2 col-form-label">Sensei</label>
					<div class="col-sm-6">
						<select id="senseiSelect" class="form-select" aria-label="Default select example" on>
							<option selected th:field="*{alumno.sensei}"></option>
							<option th:each="sensei : ${sensei}" th:value="${senNombre}" th:text="${sensei.nombres + '' + sensei.apellidos}">
								
							</option>
						</select> 
					</div>
				</div> -->

			<div class="form-group row">
				<div class="col-sm-6">
					<input type="submit" value="Crear alumno" class="btn btn-primary" />
				</div>
			</div>
		</form>

		<script>
			const opsel=document.getElementById("senseiSelect");
			opsel.addEventListener('change',function(){
				const selected=opsel.value;
				alumno.sensei=selected;
			})
		</script>

	</div>
</body>
</html>