<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/
bootstrap.min.css">
</head>

<header th:replace="fragments/header :: header"></header>

<body>

<div class="container" center>
    <div th:object="${clase}" th:remove="tag">
        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
    </div>

    <form th:action="@{/formCla}" th:object="${clase}" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
            <input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'" /> <small
            class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Descripcion</label>
            <div class="col-sm-6">
            <input type="text" th:field="*{descripcion}" class="form-control" th:errorclass="'form-control alert-danger'" /> <small
            class="form-text text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></small>
            </div>
        </div>

        <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" value="Crear clase" class="btn btn-secondary" />
                </div>
            </div>
    </form>
    
    
</div>


</body>
</html>

  